<html>
<head>
   <title>Ben Hengst</title>
   <style>
      body {
         margin: 5px 0px;
      }
      h1, h2, h3 {
         font-style: bolder;
      }
      h1 {
         margin: 5px 0px;
         padding-left: 10px;
         background: #000;
         font-style: bolder;
         color: #FFF;
      }
      h2 {
         /*
         padding-left: 10px;
         background: #2B2B2B;
         color: #FFF;
         */
      }
      h3 {
         /*background: #555555;
         margin: 5px 0px;
         margin: 5px 5px;
         color: #FFF;
         padding-left: 40px;
         */
      }
      div.invexp {
         width: 700px;
         margin-left: 20px;
      }
      div.invexp div {
         margin-left: 20px;
      }
      div.invexp div * {
         margin-left: 20px;
      }
      div.invexp div h2 {
         margin-left: 0px;
      }

      div#me {
         padding:0px;
         margin-left: 725px;
         margin-top: 0px;
         width: 200px;
         position: absolute;
         top: 0px;
         float: right;
         /*
         border: 1px solid #F00;
         */
      }

      div#contact ul {
         list-style: none;
         margin-left:-30px;
      }
   </style>
</head>
<body>
   <div id='me'>
      <h1>[% me.name %]</h1>
      <p>[% me.summary %]</p>
      <div id='contact'>
         <ul>
            [% FOREACH link IN me.links %]
            <li><a href='[% link.values.0 %]'>[% link.keys.0 %]</a></li>
            [% END %]
            <li><a class='email' href='mailto:[% me.email %]'>[%me.email%]</a></li>
         </ul>
      </div>
   </div>

  [% FOREACH head IN [ 'Employment', 'Community Involvement', 'Spoken at' ] %]
   <div id='[% head %]' class='invexp'>
      <h1>[% head %]</h1>
      [% FOREACH item IN $head %]
         <div>
            <h2>[% item.name %] [% IF item.location %] ([% item.location %])[% END %]</h2>
            <h3>[% item.title %] [% IF item.duration %] ([%item.duration%])[% END %]</h3>
            [% IF item.description %]
            <p>[% item.description %]</p>
            [%END%]
            [% IF item.skills %]
            <h4>Skills</h4>
            <ul>
               [%- FOREACH item IN item.skills %]
               <li>[% item %]</li>
               [%- END %]
            </ul>
            [%- END %]
         </div>
      [%- END %]
   </div>
   [% END %]

   <div id='education' class='invexp'>
      <h1>Education</h1>
      [% FOREACH edu IN Education %]
         <div>
            <h2>[% edu.name %] ([% edu.location %])</h2>
            <h3>[% edu.degree %] ([% edu.duration %])</h2>
         </div>

      [% END %]
   </div>

</body>
</html>
